* {
	box-sizing: border-box;
}

body {
	background: #fff;
	color: #000;
	font: normal 62.5%/1 Arial, 'Helvetica Neue', Helvetica, sans-serif;
	margin: 20px;
}

h1,
h2,
p {
	margin: 0 auto 5px;
	max-width: 760px;
	min-width: 400px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.8em;
	margin-top: 30px;
}

p {
	font-size: 1.2em;
	margin-bottom: 10px;
}

p.hide {
	display: none;
}

p > a,
p > a:visited {
	color: #f00;
	text-decoration: underline;
}

p > a:hover {
	text-decoration: none;
}

p > label,
p > input,
p > select {
	vertical-align: middle;
}

p > label {
	display: inline-block;
	width: 120px;
}

p > input,
p > select {
	font-size: 100%;
	margin: 0;
}

p > textarea {
	font: normal 14px/1 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	height: 400px;
	width: 100%;
}
